---
import DiscordBot from "./cta/DiscordBot.astro";
import WhatsappBot from "./cta/WhatsappBot.astro";
import page from "../lib/pag.js";
import TelegramBot from "./cta/TelegramBot.astro";
export interface Props {}
setInterval(() => {
  if (page.get() === "discord") {
    page.set("whatsapp");
  } else if (page.get() === "telegram") {
    page.set("discord");
  } else if (page.get() === "whatsapp") {
    page.set("telegram");
  }
  page.set("discord");
}, 10000);
var hoverColor = `transition duration-200 cursor-pointer ${
  page.get() == "whatsapp"
    ? "hover:text-whatsapp-green"
    : page.get() == "telegram"
    ? "hover:text-telegram-blue"
    : "hover:text-discord-blurple"
}`;
---

<>
  <nav
    class="fixed top-4 left-[50%] translate-x-[-50%] w-[90vw] md:w-[80vw] bg-turing-dark rounded-lg px-4 py-2 flex flex-row items-center justify-between z-10"
  >
    <div class="flex flex-row items-center gap-2">
      <img src="/favicon.svg" class="rounded-full w-8 h-8" />
      <p>Turing AI</p>
    </div>
    <ul class="flex-row items-center hidden md:flex md:gap-4 list-none">
      <li class={hoverColor}>Home</li>
      <li class={hoverColor}>Discord Server</li>
      <li
        class="text-turing-premium/[.8] transition duration-200 hover:text-turing-premium cursor-pointer flex flex-row items-center gap-1"
      >
        <i class="fa-solid fa-crown"></i>
        Premium
      </li>
    </ul>
    <div class="hidden md:flex flex-row items-center gap-2">
      {
        page.get() == "whatsapp" ? (
          <WhatsappBot />
        ) : page.get() == "telegram" ? (
          <TelegramBot />
        ) : (
          <DiscordBot />
        )
      }
    </div>
    <div class={`flex md:hidden ${hoverColor} outline-none`} id="astronav-menu">
      <i class="fa-solid fa-bars astronav-toggle"></i>
      <i class="fa-solid fa-xmark astronav-toggle hidden"></i>
    </div>
  </nav>
  <nav
    class="astronav-toggle fixed top-20 left-[50%] translate-x-[-50%] w-[90vw] md:w-[80vw] bg-turing-dark rounded-lg px-4 py-2 hidden md:hidden flex-row items-center justify-between z-10"
  >
    <ul class="flex-col items-start flex gap-2 list-none">
      <li class={hoverColor}>Home</li>
      <li class={hoverColor}>Discord Server</li>
      <li
        class="text-turing-premium/[.8] transition duration-200 hover:text-turing-premium cursor-pointer flex flex-row items-center gap-1"
      >
        <i class="fa-solid fa-crown"></i>
        Premium
      </li>
      <li>
        {
          page.get() == "whatsapp" ? (
            <WhatsappBot />
          ) : page.get() == "telegram" ? (
            <TelegramBot />
          ) : (
            <DiscordBot />
          )
        }
      </li>
    </ul>
  </nav>
</>

<style>
  .animate__fadeIn {
    animation: fadeIn 0.3s;
    opacity: 1;
  }
  .animate__fadeOut {
    animation: fadeOut 0.3s;
    opacity: 0;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
