---
export interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/neon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/962d295c08.js"
      crossorigin="anonymous"
      async
      defer></script>
    <meta name="description" content={description} />
    <title>{title}</title>
    <meta name="keywords" content={keywords} />
    <meta name="author" content="TuringAI" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="Turing.sh" />
    <meta name="twitter:creator" content="@Turing_AI_" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/banner.png" />
    <meta property="og:url" content="https://turing.sh" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/banner.png" />

    <meta property="theme-color" content="#A179D9" />
  </head>
  <body
    class="text-white min-h-[100vh] h-fit flex overflow-y-auto overflow-x-hidden"
  >
    <slot />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  body {
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  :root {
    color: #1d1b31;
    background-color: #1d1b31;
    background-image: url("/bg-ping.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media screen and (max-width: 768px) {
    :root {
      color: #000000;
      background-color: #000000;
      background-image: url("/bg-pong.jpg");
      background-size: 170%;
      background-repeat: no-repeat;
    }
  }

  @layer components {
  }
</style>
